<!--Footer-->

<footer class="text-center m-4">
    <img src="/img/marketo.jpg" alt="logofooter" width="50" class="pb-2">
    <p class="font-weight-light">© 2021 Mercado .Todos los derechos reservados.</p>
</footer>