    
    {{#each productos}}
   
        <div class="card col-12 col-lg-2 d-flex mb-3 w-30">
<a href="/{{this}}"><img src="/img/{{this}}.png" class="card-img-top mx-0 px-0"-{{this}}>{{this}}  
</a>  
</div>


{{/each}}
    </div>

    